body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 12px;
  height: 12px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(7, 1fr);
}

/*SIDEBAR*/

.sidebar {
  grid-column: 1;
  grid-row: 1/8;
  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
  grid-template-areas:
    "sidebar-header"
    "main-nav"
    "secondary-nav";
  gap: 20px;
}

.sidebar-header {
  grid-area: sidebar-header;
  padding-top: 10px;
}

.sidebar-header-logo {
  width: 24px;
  height: 24px;
}

.main-nav {
  grid-area: main-nav;
  display: grid;
}

.secondary-nav {
  grid-area: secondary-nav;
  display: grid;
}

.sidebar-header,
.main-nav,
.secondary-nav {
  padding-left: 15px;
}

/* HEADER*/

.header {
  grid-column: 2;
  grid-row: 1/3;
  padding-top: 10px;
  display: grid;
  grid-template: 1fr 2fr /3fr 2fr;
  grid-template-areas:
    "header-upper header-upper"
    "header-lower header-lower";
}

/*UPPER HEADER SECTION*/

.header-upper {
  grid-area: header-upper;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "search-container profile-container";
}

.search-container {
  grid-area: search-container;
}

.profile-container {
  grid-area: profile-container;
}

.small-profile-logo {
  width: 24px;
  height: 24px;
}

/*LOWER HEADER SECTION*/

.header-lower {
  grid-area: header-lower;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "lower-left-side lower-header-buttons";
}

.lower-left-side {
  grid-area: lower-left-side;
  display: grid;
  grid-template-areas: "big-profile-logo profile-text";
}

.big-profile-logo {
  grid-area: big-profile-logo;
  width: 40px;
  height: 40px;
}

.profile-text {
  grid-area: profile-text;
}

.lower-header-buttons {
  grid-area: lower-header-buttons;
  display: grid;
}

/*MAIN CONTENT*/

.main-content {
  grid-row: 3/8;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects {
  grid-area: projects;
}

.project-items {
}

.proj-item {
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
