@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
}

.logo {
  width: 12px;
  height: 12px;
}

.sidebar .logo {
  filter: brightness(0) invert(1);
}

p,
span {
  font-family: Roboto;
}

.sidebar span {
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.sidebar-header span {
  font-size: 18px;
  font-weight: 700;
}

/*SIDEBAR*/

.sidebar {
  background-color: #2596be;
  grid-column: 1;
  grid-row: 1/8;
  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
  grid-template-areas:
    "sidebar-header"
    "main-nav"
    "secondary-nav";
}

.sidebar-header {
  padding-top: 10px;
  grid-area: sidebar-header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.sidebar-header-logo {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1);
}

.main-nav {
  grid-area: main-nav;
}

.secondary-nav {
  grid-area: secondary-nav;
}

.main-nav,
.secondary-nav {
  display: grid;
  width: fit-content;
  gap: 10px;
  align-content: start;
}

.main-nav a,
.secondary-nav a {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}

.sidebar > * {
  padding-left: 15px;
}

/* HEADER*/

.header {
  grid-column: 2;
  grid-row: 1;
  padding-top: 10px;
  display: grid;
  grid-template: 1fr 2fr /3fr 2fr;
  grid-template-areas:
    "header-upper header-upper"
    "header-lower header-lower";
}

/*UPPER HEADER SECTION*/

.header-upper {
  grid-area: header-upper;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "search-container profile-container";
}

.search-container {
  grid-area: search-container;
  justify-self: start;
  padding-left: 20px;
  width: 100%;
}

.searchbar-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
}

.searchbar-container button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.searchbar-container input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #e0e6ee;
}

.profile-container {
  grid-area: profile-container;
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.profile-container button {
  border: none;
  background-color: white;
}

.small-profile-logo {
  width: 24px;
  height: 24px;
}

.profile-name {
  color: black;
  font-size: 10px;
}

/*LOWER HEADER SECTION*/

.header-lower {
  grid-area: header-lower;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "lower-left-side lower-header-buttons";
  padding-left: 20px;
}

.lower-left-side {
  grid-area: lower-left-side;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-self: start;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.big-profile-logo {
  width: 36px;
  height: 36px;
}

.profile-text {
  display: grid;
  align-content: center;
}

.greetings-text {
  font-size: 10px;
  font-weight: 700;
}

.user-name {
  font-weight: 700;
}

.lower-header-buttons {
  grid-area: lower-header-buttons;
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.lower-header-buttons button {
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #1992d4;
  font-size: 8px;
  font-weight: 600;
  padding: 5px 15px;
}

/*MAIN CONTENT*/

.main-content {
  grid-row: 2/8;
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e0e6ee;
  gap: 15px;
  padding: 15px;
  align-items: stretch;
  height: 100%;
}

.projects,
.main-right-side {
  height: 100%;
}

.projects-header {
  font-size: 14px;
  font-weight: 600;
}

.project-items {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.proj-item {
  display: grid;
  border-radius: 5px;
  border-left: #e0c200 solid 5px;
  background-color: white;
  padding: 15px;
}

.proj-title {
  font-size: 12px;
  font-weight: 600;
}

.proj-description {
  font-size: 8px;
  font-weight: 300;
}

.proj-item-icons {
  justify-self: end;
}
.proj-item-icons img {
  width: 12px;
  height: 12px;
}

/*ANNOUNCEMENTS AND TRENDING */

.main-right-side {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.announcements-header {
  font-size: 14px;
  font-weight: 600;
}
.announcement-items {
  display: grid;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  text-align: start;
}
.announcement-item {
  border-bottom: 1px solid black;
}

.announcement-items > .announcement-item:last-of-type {
  border: none;
}

.announcement-title {
  font-size: 10px;
  font-weight: 600;
}

.announcement-description {
  font-size: 8px;
  font-weight: 300;
}

.trending-header {
  font-size: 14px;
  font-weight: 600;
}

.trending-items {
  background-color: white;
  border-radius: 5px;
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
  padding: 15px;
}

.trend-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.trending-text {
  display: grid;
  align-content: center;
}

.trending-name {
  font-size: 8px;
}

.trending-description {
  color: black;
  font-size: 8px;
  font-weight: 300;
}
